
.conteiner {
    max-width: 1180px;
    /* margin: 0 auto; */
}

.banner {
    display: flex;
    margin-top: 122px;
    background-color: #EEE4DB;
    flex-wrap: wrap;   
}

.banner__slide {
    display:flex;
    margin: -10px;

    flex-direction: column;
    width: 9%;
}

.banner__slide-text {
    height: 103px;
    
}

.banner__slide-item {
    margin-top: -3px;
  
}
.banner__list {
    display: flex;
    flex-direction: column;
    width: 90%;

}

.banner__title {
 /* flex-wrap: wrap; */
 width: 50%;
 margin-top: 77px;
margin-left: 8px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 110%;
}

.banner__text {
    width: 100%;
    margin-top: 72px;
    height: 39px;
    background-color: #C29974;
 
}
.banner__items-text {
    margin-top: 13px;
margin-left: 366px;
width: 452px;
height: 17px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
text-align: center;
    color: #FFFFFF;
  
}



.banner__img {
    position: absolute;
    width: 635.49px;
    height: 461px;
    left: 808px;
    top: 143px;
}
.banner__list-text{
    margin-top: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 73px;
    color: #1e06060d;
}

.banner__button {
    margin-top: 10px;
    width: 31px;
    height: 3px;
    background: #D6CAC2;
}

.banner__subtitle {
    margin-top: -17px;
    margin-left: 8px;
    font-family: 'Crimson Text';
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #1E0606;
}


.banner__btn-item {
    align-items: center;
    margin-left: 8px;
    margin-top: 3px;
    padding: 7px 21px;
    border: none;
    gap: 10px;
    left: 243px;
    top: 474px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #000000;

}

.category {
    display: flex;
    flex-direction: column;
}

.category__list {
    display: flex;  
    padding: 0%;
    justify-content: space-between;
}

.category__title {
    margin-top: 92px;
    margin-left: 1px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #1E0606;
}
.category__list-item {
    display: flex;
    margin-top: -18px;
    width:280px;
    height:270px;
    position: relative;
    align-items: center;
    justify-content: center;
}





.category__list-link{
    display: flex;   
}

.category__list-item:nth-child(4n+1){
   background: #DBE4DB; 
}

.category__list-item:nth-child(4n+2){
    background: #EADDD3;
}

.category__list-item:nth-child(4n+3){
    background: #F8F2DA;
}

.category__list-item:nth-child(4n+4){
    background: #D5D4E1;
}

.category__img-text{
     display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 15.71%;
    right: 15.71%;
    top: 40.07%;
    bottom: 44.07%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}


.cetegory__btn {
    display: flex;
   padding: 0%;
   margin-top: 14px;
   margin-left: -1px;

    
}

.category__btn-text  {
    margin-left: 20px;
    width: 580px;
    margin-top: 0px;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;    
}
.category__btn-list{
 padding: 1px;
 margin: 1px;
}

.category__btn-back {
    background-image: url(./img/back.png);
    background-repeat: no-repeat;
    height: 37px;
    width: 37px;
    border: none;
}
.category__btn-next {
    background-image: url(./img/next.png);
    background-repeat: no-repeat;
    height: 37px;
    width: 37px;
    border: none;
}
.delivery {
    display: flex;
    margin-top: 40px;
}
.delivery__img {
    margin-top: 15px;
}
.delivery__list {
    padding-top: 0px;
    margin-left: 81px;
}
.delivery__list-item{
    margin-top: 22px;
    margin-left: 1px;
}


.delivery__title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 46px;
}
.delivery__list-link{
    /* margin-top: 22px; */
    font-family: 'Crimson Text';
font-style: italic;
font-weight: 400;
font-size: 26px;
line-height: 34px;
}
.delivery__list-text{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}
.delivery__list-btn {
    align-items: center;
    margin-left: 8px;
    margin-top: 3px;
    padding: 7px 21px;
    gap: 10px;
    left: 243px;
    top: 474px;
    border: none;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
}

.partners__title {
    opacity: 0; 
}

.partners__list-item {
    display: flex;
}
.partners__list-link {
    display: flex;
}

.partners__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    padding: 0px;
}

.design {
    display: flex;
    justify-content: space-between;
    padding-bottom: 46px;
}
.design__title{
    opacity: 0;
    max-width: 1px;
}
.design__list{
    max-width: 543px;
    margin-top: 43px;
    margin-right: 45px;
}
.design__list-item {
    
    padding: 31px 30px 27px 30px;
    background: #E1F0F7;
}
.design__list-subtitle{
    margin-top: 1px;
    margin-left: 1px;
    font-family: 'Crimson Text';
font-style: italic;
font-weight: 400;
font-size: 26px;
line-height: 34px;
}

.design__list-text {
    margin-top: -13px;
    margin-left: 1px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}

.design__list-title {
    margin-bottom: -40px;
    margin-left: 30px;  
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 46px;
text-transform: uppercase;
}

.desingn__btn {
    align-items: center;
    margin-top: 20px;
    padding: 7px 21px;
    border: none;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
}

.contact {
    padding: 0 30px;

}
.contact__paragraph {
    margin-top: 12px;
    margin-left: -5px;
    padding: 41px 30px 102px 20px;
    max-width: 538px;
    background: #E1F0F7;


    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

}
.contact__title {
    margin-top: 74px;
    margin-bottom: -30px;
    margin-left: -15px;
    padding: 0 30px;


    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 46px;;
}

.contact__map {
    margin-top: -90px;
    margin-left: 15px;
}